{% extends "layout.html" %}

{% block title %}
    {{user_info['user_name']}}
{% endblock %}

{% block main %}


<h4>Přidat návrh dárku pro oslavence {{user_name}}</h4>
            Návrh uvidí všichni, kromě {{user_name}}


    <form action="#" method='post'>
        <div class='form-group'>
            <input class='form-control' name='wish_name' placeholder='Název dárku? (povinné pole)'
            type="text" size='100' maxlength='100' autofocus='on' autocomplete='off'>
        </div>
        <div class="form-group">
            <textarea class="form-control" name='wish_description' placeholder='Podrobnější popis dárku.' rows="6"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Potvrdit</button>
    </form>



{% endblock %}