<!DOCTYPE html>

<html lang="en">

    <head>

        <title>C$50 GiftHub</title>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <!-- bootstrap required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">GiftHub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% if session.user_id %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/my_wishlist">Má přání</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Lidé</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my_dibs">Zamluvené</a>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#">Change Password</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Odhlásit</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Přihlásit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Registrovat se</a>
                    </li>

                </ul>

                {% endif %}

                </ul>

            </div>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <!-- bootstrap stuff that they say should I should include for proper functionality -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>