{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Jméno" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="b_day" placeholder="Datum narození (DD. MM. RRRR)" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="n_day" placeholder="Svátek (DD. MM.)" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Heslo" type="password" autocomplete="off"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password_confirm" placeholder="Potvrdit" type="password" autocomplete="off"/>
        </div>
        <button class="btn btn-primary" type="submit">Odeslat údaje</button>
    </form>
{% endblock %}
