{% extends "layout.html" %}

{% block title %}
    Lidé
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Jméno</th>
                <th scope="col">Narozeniny</th>
                <th scope="col">Svátek</th>
            </tr>
        </thead>
        <tbody>
            {% for name in names %}
            <tr>
                <td><a href='/user/{{name["user_id"]}}'>{{name['user_name']}}</a></td>
                <td>{{name['user_bday']}}</td>
                <td>{{name['user_nday']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
