{% extends "layout.html" %}

{% block title %}
    {{user_info['user_name']}}
{% endblock %}

{% block main %}
    <h3>{{user_info['user_name']}}</h3><br>
    <h5>Narozeniny:  {{user_info['user_bday']}}</h5><br>
    <h5>Svátek:  {{user_info['user_nday']}}</h5><br>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Přání</th>
                <th scope="col">Zamluveno</th>
            </tr>
        </thead>
        <tbody>
            {% for wish in wishes %}
            <tr>
                <td><a href='/wish/{{wish["wish_id"]}}'>{{wish['wish_name']}}</a></td>
                {% if wish['wish_dibs'] == None %}
                    <td><a href='/call_dibs/{{wish["wish_id"]}}'>Zamluvit!</a></td>
                {% else %}
                    {% if wish['diber_name'] == my_name %}
                        <td>{{wish['diber_name']}}<a href='/undib/{{wish["wish_id"]}}'> (uvolnit) </a></td>
                    {% else %}
                        <td>{{wish['diber_name']}}</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}


        </tbody>
    </table>

<br><br>
<a href='/add_user_wish/{{user_info["user_id"]}}' type="button" class="btn btn-primary">Přidat návrh dárku</a><br>
Návrh uvidí všichni, kromě {{user_info['user_name']}}


{% endblock %}
