{% extends "layout.html" %}

{% block title %}
    {{user_info['user_name']}}
{% endblock %}

{% block main %}
    <h3>{{user_info['user_name']}}</h3><br>
    <h5>Narozeniny:  {{user_info['user_bday']}}</h5><br>
    <h5>Svátek:  {{user_info['user_nday']}}</h5><br>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Přání</th>
                <th scope="col">Zamluveno</th>
            </tr>
        </thead>
        <tbody>
            {% for wish in wishes %}
            <tr>
                <td>{{wish['wish_name']}}</td>
                {% if wish['wish_dibs'] == 'Zamluvit!' %}
                    <td><a href='/call_dibs/{{wish["wish_id"]}}'>{{wish['wish_dibs']}}</a></td>
                {% else %}
                    <td>{{wish['wish_dibs']}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>





{% endblock %}
